# Python Specific .gitignore

# Virtual Environments
.env/
.venv/
venv/
ENV/
env/

# Python Cache Files
__pycache__/
*.py[cod]

# IDE Settings
.idea/
.vscode/

# Environment Variables
*.env

# Databases
*.sqlite3
.db/

# Logs
*.log

# Distribution / packaging
*.egg-info/
builds/
dist/
